@import "tailwindcss";

html, body, #root {
  height: 100%;
}


.input-focus:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(99,102,241,0.12);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
